* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, Arial, sans-serif;
}

body {
  background: #eef2f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 4rem;
  border-radius: 10px;
  width: 40rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 10px;
}

.subtitle {
  color: #666;
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: transform 2s ease;
}

input:hover {
  transform: scale(1.05);
}

button {
  padding: 10px 15px;
  border: none;
  background: #1e293b;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 2s ease;
}

button:hover {
  background: white;
  color: black;
  border: 1px solid black;
  font-weight: bold;
  transform: scale(1.05);
}

.card {
  border: 1px solid #dcd9d9;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.hidden {
  display: none;
}

.weather-icon {
  width: 100px;
  height: 100px;
  margin: 15px 0;
  display: block;
}

.city-name {
  font-size: 28px;
  color: #1e293b;
  margin-bottom: 10px;
}

.condition {
  color: #666;
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.weather-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 20px;
}

.detail-item {
  background: #f8f9fa;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.detail-item i {
  color: #1e293b;
  font-size: 18px;
}

.detail-item strong {
  color: #1e293b;
  font-weight: 600;
}

.loading {
  color: #555;
}

.error {
  color: red;
}
