* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  /* background-color: black; */
  color: white;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
